.App {
  text-align: center;
  background: linear-gradient(-45deg, #2a1d02, #2d2305, #694a0c, #270c06);
  animation: gradientBG 15s ease infinite;
  background-size: 400% 400%;
  min-height: 100vh;
}

/* keyframes for changing the body background color */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  1000% {
    background-position: 0% 50%;
  }
}

.App-header {
  display: flex;
  justify-content: right;
  padding: 20px;
  height: 80px;
}

.App-quest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: darkorange;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: left;
}

.button {
  margin-top: 20px;
  width: 30%;
  height: 45px;
  margin-left: 5px;
  background: #792411;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

button:hover {
  border: 1px solid #792411;
  background-color: #a0321a;
  color: wheat;
}

.button:disabled {
  border: 1px solid #50170b;
  background-color: #502222;
  color: rgb(155, 122, 122);
}

.connect {
  margin-top: 20px;
  width: 120px;
  height: 45px;
  background: #792411;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.scene {
  width: 500px;
  /* height: 0px; */
  position: relative;
  animation-name: dragon;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.scene img {
  width: 500px;
}

@keyframes dragon {
  0% {
    left: 0%;
  }
  25% {
    left: 15%;
  }
  50% {
    left: 30%;
  }
  75% {
    left: 45%;
  }
  100% {
    left: 60%;
  }
}

.result {
  display: flex;
  color: wheat;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.result .round {
  width: 100%;
}

.result .round p {
  text-align: left;
  font-size: 24px;
}

.result table {
  width: 100%;
  text-align: left;
}

.result table thead tr th {
  color: darkorange;
}

.desc {
  width: 100%;
  text-align: left;
}

.desc .hero {
  color: rgb(23, 176, 23);
}

.desc .monster {
  color: rgb(212, 158, 192);
}

.desc .damage {
  color: red;
  font-size: 20px;
}

.final {
  font-size: 20px;
  width: 100%;
}

.final .win {
  color: rgb(23, 176, 23);
}

.final .lose {
  color: rgb(212, 158, 192);
}

.final .results {
  width: 50%;
  margin: auto;
}

.App-adventurer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  font-size: 32px;
  color: wheat;
}

.adventurer {
  background: linear-gradient(
    -90deg,
    transparent,
    rgba(241, 220, 178, 0.1),
    transparent
  );
}

.adventurer p {
  margin-block-start: 0px;
  margin-block-end: 1rem;
}

.adventurer img {
  height: 300px;
}

.hint {
  font-size: 32px;
  color: wheat;
}
